<html>
    <head>
        <title>Account User</title>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
        <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>  
   
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" th:href=@{/}>Admin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <!-- Căn giữa navbar-nav -->
                <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href=@{/account_user}>Người dùng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href=@{/card_set}>Bộ Thẻ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href=@{/card}>Thẻ Nhớ</a>
                        </li>
                        
                        <!-- Đẩy dropdown sang bên phải -->
                        <li class="nav-item dropdown ms-auto">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 50%;" th:text=${admin.username}>
                    
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" th:href=@{/logout}>Thoát</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">AccountUser Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th> <!-- Cột mới -->
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="card_set: ${card_sets}">
                        <td th:text="${card_set.id}"></td>
                        <td th:text="${card_set.accountUserId}"></td>
                        <td th:text="${card_set.name}"></td>
                        <td>
                            <a href="#"></a>
                            <button class="btn btn-primary btn-sm">Edit</button>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
  
    </body>
</html>