<html>
    <head>
        <title>Card Set</title>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
       
        <link rel="stylesheet" th:href="@{/custom/css/popup_create.css}">
    </head>

    <body>
        <div th:insert="~{fragments/my_template :: top_menu}"></div>
        <div th:insert="~{fragments/my_template :: search_add}"></div>
        <script>
            document.getElementById("addButton").style.display = "none";
        </script>
    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">User Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Actions</th> <!-- Cột mới -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="card_set: ${card_sets}" th:onclick="'window.location.href=\'/card_set/'+${card_set.id}+'\''">
                    <td th:text="${card_set.id}"></td>
                    <td th:text="${card_set.accountUserId}"></td>
                    <td th:text="${card_set.name}"></td>
    
                    <td>
                        <button class="btn btn-primary btn-sm" onclick="openPopup2(event)">Edit</button>
                        <button class="btn btn-danger btn-sm" th:data-url="@{/card_set/delete/{id}(id=${card_set.id})}" onclick="confirmDelete(this, event)">Delete</button>
                    </td>
                    <div id="popup2" class="popup">
                        <form th:action="@{/card_set/update/{id}(id=${card_set.id})}" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" th:value="${card_set.name}" required>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success">Add</button>
                                <button type="button" class="btn btn-secondary" onclick="closePopup2()">Đóng</button>
                            </div>
                        </form>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>


        <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>  
        <script type="text/javascript" th:src="@{/custom/js/popup_create.js}"></script>
    </body>
</html>