<html>
    <head>
        <title>Card</title>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
        <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>  
   
    </head>

    <body>
        <div th:insert="~{fragments/my_template :: top_menu}"></div>
        <div>
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">CardSet Id</th>
                        <th scope="col">Front Text</th>
                        <th scope="col">Front Image</th> 
                        <th scope="col">Front Sound</th> 
                        <th scope="col">Back Text</th>
                        <th scope="col">Back Image</th> 
                        <th scope="col">Back Sound</th> 
                        <th scope="col">Is Learned</th>
                        <th scope="col">Actions</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="card: ${cards}">
                        <td th:text="${card.id}"></td>
                        <td th:text="${card.cardSetId}"></td>
                        <td th:text="${card.frontText}"></td>
                        <td th:text="${card.frontImage}"></td>
                        <td th:text="${card.frontSound}"></td>
                        <td th:text="${card.backText}"></td>
                        <td th:text="${card.backImage}"></td>
                        <td th:text="${card.backSound}"></td>
                        <td th:text="${card.isLearned}"></td>
                        <td>
                            <a href="#"></a>
                            <button class="btn btn-primary btn-sm">Edit</button>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
  
    </body>
</html>